.page     
  .content
    &__inner
      position relative
      
      max-width 770px
      margin 0 auto
      
      transition-property transform, opacity
      transition-duration 0.4s
      transition-timing-function cubic-bezier(.17,.67,.83,.67)
      
      &.to-hide
        opacity 0
        transform translate3d(0, 14px, 0)
        transition-timing-function cubic-bezier(0.7,0,.3,1)
        
      &.from-hide
        opacity 0
        transform translate3d(0, -14px, 0)
      
      
      ^[-1]__title
        font-size 2.39em
        line-height initial
        font-weight 400
        
        margin 0
        text-transform uppercase
      
        @media (max-width 400px)
          font-size 2em
        
      ^[-1]__image-box
        overflow hidden
        
        @media (max-width 700px)
          margin 0 -10%
        
        img
          display block
          max-width 770px
          
          position relative
          left 50%
          
          transform translate3d(-50%,0,0)
          
          @media (max-width 800px)
            max-width 120%
      
      
      ^[-1]__text
        fontProxima()
        
        > *
          &:first-child
            margin-top 0
          &:last-child
            margin-bottom 0
      
        ul
          fontDefault()
          
          list-style none
          padding-left 22px
          margin 1.5em 0
          
          li
            position relative
            margin 7px 0
            
            &:before
              content ""
              
              size 10px 2px
              
              position absolute
              left -20px
              top 0
              margin-top 0.55rem
              
              background $color-main
        
        h1,h2,h3,h4,h5
          line-height initial
          margin 30px 0 10px
          
          &+ul
          &+p
            margin-top 0
            
        h5
          font-size 1em
